[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
pillow = "*"
drf-nested-routers = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-django = "*"
locust = "*"
django-silk = "*"

[requires]
python_version = "3.8"
